*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 26px;
    font-weight: 500;
    font-size: $fs;
    font-family: $ff-text;
    color: $color-text;
    font-family: $ff-text;
}

.container {
    width: 100%;
    max-width: $container-width;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: $fs;
    line-height: 26px;
    color: $color-text;
}

a {
    transition: all ease-in-out 0.3s;
}