$color-text:#544837;
$color-header:#2F281E;
$color-nav:#2F281E;
$color-btn:#FFFFFF;
$bg-color-btn:#FF9900;
$bg-color-icon:#FF9900;
$fs:16px;
$ff-text:'Montserrat', sans-serif;
$ff-btn:'Poppins', sans-serif;
$container-width:1230px;